<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Apploye.Activity"/>
      <class name="Apploye.Automate"/>
      <class name="Apploye.Project_creation"/>
      <class name="Apploye.LogoutUsingBootstrap"/>
      <class name="Apploye.screenshot"/>
      <class name="Apploye.RobotClass"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
